.h1 {
	visibility: hidden;
}

@media screen and (min-width: 1081px) {
    img {
        content:url(https://user-images.githubusercontent.com/25018733/30504518-1316b362-9a24-11e7-87bf-754c73637cbd.png);
    }
	body {
	    background-color: black;
	}
}

@media screen and (max-width: 1080px) {
  img {
      content:url(https://user-images.githubusercontent.com/25018733/30504535-303c3250-9a24-11e7-8850-e8e8c7a7e2f5.png);
  }
	body {
	    background-image: url("https://kansascity-mp7static.mlsdigital.net/images/kobe-bryant-a-1024.jpg?CVudW_X91TrIi6Uq9Gqu7Im9qNilVqMM");
	}
}

@media screen and (max-width: 820px) {
   img {
      content:url(https://user-images.githubusercontent.com/25018733/30504540-3acea25c-9a24-11e7-9150-ebd00f2c278f.png);
   }
	 body {
	    background-image: url("http://i0.kym-cdn.com/photos/images/masonry/001/194/209/3f0.gif");
	}
}

@media screen and (max-width: 600px) {
  img {
      content:url(https://user-images.githubusercontent.com/25018733/30504557-62e66108-9a24-11e7-8e03-b914dd1df358.gif);
  }
}

@media screen and (max-width: 600px) {
	
	.h1 {
	visibility: visible;
	}
  .hidden {
        content:url(https://user-images.githubusercontent.com/25018733/30504540-3acea25c-9a24-11e7-9150-ebd00f2c278f.png);
  }
	body {
	    background-image: url("https://kansascity-mp7static.mlsdigital.net/images/kobe-bryant-a-1024.jpg?CVudW_X91TrIi6Uq9Gqu7Im9qNilVqMM");
	}
}
